doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/style.css')
    title Platform | #{title}

  body
    //NAV
    include _header

    //Create Document
    section
        form(method='GET' action="/document") 
          .div 
            input(type="text" name='index' placeholder="Type index" value='olympic_events')
            input(type="text" name='docid' placeholder="Type document id" value='9999')
            input(type="text" name='noc' placeholder="Type noc" value='')
            input(type="text" name='sex' placeholder="Type sex" value='M')
            input(type="text" name='city' placeholder="Type city" value='HCM')
            input(type="text" name='weight' placeholder="Type weight" value='NA')
            input(type="text" name='name' placeholder="Type name" value='Pham Van A')
            input(type="text" name='sport' placeholder="Type sport" value='Football')
            input(type="text" name='games' placeholder="Type games" value='2022 Summer')
            input(type="text" name='event' placeholder="Type event" value='Men\'s Football')
            input(type="text" name='height' placeholder="Type height" value='NA')
            input(type="text" name='team' placeholder="Type team" value='Vietnam')
            input(type="text" name='id' placeholder="Type id" value='0')
            input(type="text" name='medal' placeholder="Type medal" value='NA')
            input(type="text" name='age' placeholder="Type age" value='30')
            input(type="submit" value="Create | Update")

    .container-document
      table.document-table
        tr
          th Index name
          th Document ID
          th NOC
          th Sex
          th City
          th Weight
          th Name
          th Sport
          th Games
          th Event
          th Height
          th Team
          th Id
          th Medal
          th Age
          th Action
        each documents in documentHits
          tr
            td= documents._index 
            td= documents._id
            td= documents._source.noc
            td= documents._source.sex
            td= documents._source.city
            td= documents._source.weight
            td= documents._source.name
            td= documents._source.sport
            td= documents._source.games
            td= documents._source.event
            td= documents._source.height
            td= documents._source.team
            td= documents._source.id
            td= documents._source.medal
            td= documents._source.age
            td
              form(method='GET' action=`/document/${documents._index}/${documents._id}?_method=DELETE`)
                button(type='submit') Delete
