doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/style.css')
    title Platform | #{title}

  body
    //NAV
    include _header

    //Create Document
    .document-input-container
        form(method='GET' action="/document") 
          .document-input-element 
            input(type="text" name='index' placeholder="Type index")
            input(type="text" name='docid' placeholder="Type document id")
            input(type="text" name='field_1' placeholder="Type Field One")
            input(type="text" name='field_2' placeholder="Type Field Two")
            input(type="text" name='field_3' placeholder="Type Field Three")
            input(type="text" name='field_4' placeholder="Type Field Four")
            input(type="text" name='field_5' placeholder="Type Field Five")
            input(type="text" name='field_6' placeholder="Type Field Six")
            input(type="text" name='field_7' placeholder="Type Field Seven")
            input(type="text" name='field_8' placeholder="Type Field Eight")
            input(type="text" name='field_9' placeholder="Type Field Nine")
            input(type="text" name='field_10' placeholder="Type Field Ten")
            input(type="text" name='field_11' placeholder="Type Field Eleven")
            input(type="text" name='field_12' placeholder="Type Field Twelve")
            input(type="text" name='field_13' placeholder="Type Field Thirteen")
            input(type="submit" value="Create | Update")

    .container-document

      .dropdown
        button.dropbtn Choose Index
          .dropdown-content
            each index in indicesString
              - indexUnderScore = index.split(' ').join('_');
                a(href=`/document/${indexUnderScore}`)= index
      //- - let hide = ''
      //- - if  (documentHits.length === 0) hide='inactive';
      table.document-table(class=`${hide}`)
        tr
          th Index name
          th Document ID
          each key in arrayOfKeys 
            th= key
          th Action  

          each value in arrayOfValues 
            tr
              each val in arrayOfNumbers
                td= value[val]
              td
                form(method='GET' action=`/document/${value[0]}/${value[1]}?_method=DELETE`)
                  button(type='submit') Delete
