doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/style.css')
    title Platform | #{title}

  body
    //NAV
    include _header

    section.search 
      .search-box 
        form.search-form(method='GET' action="/search") 
          .div 
            input#search-input(type="text" name='query_string' placeholder="Type something")
            input#search-submit(type="submit" value="Search")

    h1= data
    each documents in documentHits
      h2 Document's Information
        h3=`Index name: ${documents._index}`
        h3=`Document's Id: ${documents._id}`
      h2 Document's Data
        h3=`NOC: ${documents._source.noc}`
        h3=`Sex: ${documents._source.sex}`
        h3=`City: ${documents._source.city}`
        h3=`Weight: ${documents._source.weight}`
        h3=`Name: ${documents._source.name}`
        h3=`Sport: ${documents._source.sport}`
        h3=`Games: ${documents._source.games}`
        h3=`Event: ${documents._source.event}`
        h3=`Height: ${documents._source.height}`
        h3=`Team: ${documents._source.team}`
        h3=`Id: ${documents._source.Id}`
        h3=`Medal: ${documents._source.medal}`
        h3=`Age: ${documents._source.age}`
      hr