doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="icon" type="image/png" href='/images/favicon.png')
    link(rel='stylesheet' href='/css/style.css')
    title Platform | #{title}

  body
    //NAV
    include _header

    

    section.search 
      .search-box 
        .dropdown.dropdown-search
          button.dropbtn Choose Index
            .dropdown-content
              a(href=`/search/`) All
              each index in indicesString
                - indexUnderScore = index.split(' ').join('_');
                  a(href=`/search/${indexUnderScore}`)= index
        form.search-form(method='GET' action=`${searchAction}`) 
          .div
            input#search-input(type="text" name='query_string' placeholder="Type something" required)
            input#limit-box(type="number" name='limit' placeholder="100" min="0" max="10000")
            input#search-submit(type="submit" value="Search")

    //- - let hide = ''
    //- - if(documentHits.length === 0) hide='inactive';
    //- .container-document(class=`${hide}`)
    .field-result
      - let hide = '';
      - if (typeof index == 'undefined') hide='inactive';
      .dropdown.dropdown-field(class=`${hide}`)
        button.dropbtn Choose Field
          .dropdown-content
            each key in arrayOfKeys
              a(href=`/search/${index}/${key}?limit=${limit}&query_string=${queryString}`)= key

      .dropdown.dropdown-field(class=`${hide}` title='Can only sort field with type is number')
        button.dropbtn Ascending Order
          .dropdown-content
            each key in arrayOfKeys
              a(href=`${fullUrl}&sort=asc-${key}` title='Can only sort field with type is number')= key
      .dropdown.dropdown-field(class=`${hide}`)
        button.dropbtn Descending Order
          .dropdown-content
            each key in arrayOfKeys
              a(href=`${fullUrl}&sort=dsc-${key}` title='Can only sort field with type is number')= key

      .result-container(class=`${hide}`)
        .result
          p= `${documentHits.length}`

    table.document-table
      tr
        th Index name
        th Document ID
        each key in arrayOfKeys 
          th= key
        th Action  

        each value in arrayOfValues 
          tr
            each val in arrayOfNumbers
              td= value[val]
            td(style="width:10px")
              form(method='GET' action=`/document/${value[0]}/${value[1]}?_method=DELETE`)
                button.btn.btn-delete(type='submit') Delete