doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/style.css')
    title Platform | #{title}

  body
    //Header
    include _header

    //Create Document
    section
        form(method='GET' action="/test") 
          .div 
            input(type="text" name='index' placeholder="Type index")
            input(type="text" name='docid' placeholder="Type document id")
            input(type="text" name='noc' placeholder="Type noc")
            input(type="text" name='sex' placeholder="Type sex")
            input(type="text" name='city' placeholder="Type city")
            input(type="text" name='weight' placeholder="Type weight")
            input(type="text" name='name' placeholder="Type name")
            input(type="text" name='sport' placeholder="Type sport")
            input(type="text" name='games' placeholder="Type games")
            input(type="text" name='event' placeholder="Type event")
            input(type="text" name='height' placeholder="Type height")
            input(type="text" name='team' placeholder="Type team")
            input(type="text" name='id' placeholder="Type id")
            input(type="text" name='medal' placeholder="Type medal")
            input(type="text" name='age' placeholder="Type age")

            input(type="submit" value="Create")

    //Query Document
    each documents in documentHits
      h2 Document's Information
        h3=`Index name: ${documents._index}`
        h3=`Document's Id: ${documents._id}`
      h2 Document's Data
        h3=`NOC: ${documents._source.noc}`
        h3=`Sex: ${documents._source.sex}`
        h3=`City: ${documents._source.city}`
        h3=`Weight: ${documents._source.weight}`
        h3=`Name: ${documents._source.name}`
        h3=`Sport: ${documents._source.sport}`
        h3=`Games: ${documents._source.games}`
        h3=`Event: ${documents._source.event}`
        h3=`Height: ${documents._source.height}`
        h3=`Team: ${documents._source.team}`
        h3=`Id: ${documents._source.Id}`
        h3=`Medal: ${documents._source.medal}`
        h3=`Age: ${documents._source.age}`

      //Delete Document
      p
        form(method='GET' action=`/test/${documents._id}?_method=DELETE`)
          button(type='submit') Delete
      hr